<!doctype html>
 <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>COVID-19: Care Package</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" href="{{url_for('static',filename='imq/favicon.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>  
    <script src="{{url_for('static',filename='js/vendor/jquery.smoothState.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
</head>

<body>
    <br><br>
<div class="sceneElement" data-viewport="0">
<div class="container" style="text-align: justify;
text-justify: inter-word;">
<br>
<font size="4.5">There's no denying that there's a sitgma against mental health in this country. In fact, if you google just the word "stigma," an article about mental health is one of the first suggestions. In a country where one of the leading causes of death is suicide, you would think we'd take mental health a little more seriously. By some estimates, one in five people has a mental illness, diagnosed or not. Coupled with the fact that a lot of health insurance plans don't cover mental health treatment, it's most likely the latter.<br><br>
    Statistically speaking, the percentage of adults with diagnosed depressive disorders has been on the rise since 2010. They also tend to be diagnosed more frequently in women.
<br><br>
<center>
    <iframe src="https://public.tableau.com/views/ShareofUSpopulationwithdepression/Sheet1?:showVizHome=no&:embed=true" width="90%" height="500"></iframe>
<br><br>
    <iframe src="https://public.tableau.com/views/DepressionRates/Sheet1?:showVizHome=no&:embed=true" width="90%" height="500"></iframe>
</center>
<br><br>
So what is a depressive disorder? <br><br>Well, it can range in severity but generally speaking a depressive disorder includes some of the following symptoms:
<ul>
<li>reduced concentration and attention</li>
    <li>reduced self-esteem and self-confidence</li>
        <li>ideas of guilt and unworthiness (even in a mild type of episode)</li>
            <li>bleak and pessimistic views of the future</li>
                <li>ideas or acts of self-harm or suicide</li>
                    <li>disturbed sleep</li>
                        <li>diminished appetite.</li>
</ul>
<br>
With the current COVID-19 landscape, it's easy to see how depression can set in and why mental health professionals are pushing for more research into the effect of the pandemic and social distancing.
           <br> </div>
        </div>
        <br><br>
</body>
</html>